$white: #fff !default;
$gay-100: #f8f9fa !default;
$gay-200: #e9ecef !default;
$gay-300: #dee2e6 !default;
$gay-400: #ced4da !default;
$gay-500: #adb5bd !default;
$gay-600: #6c757d !default;
$gay-700: #495057 !default;
$gay-800: #343a40 !default;
$gay-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #52c41a !default;
$tral: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
