.alt {
  position        : relative;
  display         : inline-block;
  color           : $body-color;
  white-space     : nowrap;
  background-image: none;
  border          : $alt-border-width solid transparent;
  @include alt-size ($alt-padding-x, $alt-padding-y, $alt-font-size, $width-no, $height-no);
  border-radius: $alt-border-radius;
  margin-bottom: 1rem;
}

.alt-spe {
  @include alt-size ($alt-padding-x, $alt-padding-y, $alt-font-size, $width-spe, $height-spe);
}

.alt-no {
  @include alt-size ($alt-padding-x, $alt-padding-y, $alt-font-size, $width-no, $height-no);
}


.alt-success {
  @include alt-style($success, $success, $white)
}

.alt-warning {
  @include alt-style($warning, $warning, $white)
}

.alt-danger {
  @include alt-style($danger, $danger, $white)
}

.alt-no-clase-span {
  position: absolute;
  top     : 0;
  right   : 0;
  padding : 0.75rem 1.25rem;
  color   : inherit;
  cursor  : pointer;
}